* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

#login-box{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

#login-box input{
    padding: 6px 10px;
}


#chat-box, #chat-box + div{
    visibility: hidden;
}

#chat-box{
    margin-top: 50px;
    border: solid black 2px;
    border-radius: 5px;
    width: 40vw;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
}

#message{
    margin: 10px 0px;
    padding: 4px 10px;
}

#send-btn{
    padding: 4px 10px;
    margin-left: 20px;
}

.text-box-left{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.text-box-right{
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.username-properties {
    color: gray;
    margin: 4px 2px;
    padding: 0px 10px;
    border-radius: 10px;
    font-size: 0.7em;
}

.message-properties {
    color: white;
    margin: 4px 10px;
    padding: 4px 10px;
    border-radius: 10px;
}

.my-message{
    background-color: #276FBF;
}

.other-message{
    background-color: #558B6E;  
}